h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 10px;
}
.center-block {
  float: none;
}
.has-error {
  border-radius: 4px;
  border: 1px #a94442 solid;
  color: #a94442;
  padding: 5px 20px;
  background-color: rgba(255, 238, 238, 0.48);
}
.fa-check-circle {
  color: green;
}
.fa-times-circle {
  color: red;
}
.picker-list {
  overflow: hidden;
}
.picker-list li {
  list-style: none;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  .picker-list li {
    width: 200px;
  }
  .picker-list li.last {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  
}
