th(colspan="4")
	|{{ question.infinitive }} -&nbsp;
	input(type="text", ng-model="value", ng-blur="checkAnswer({ answer: value, infinitive: question.infinitive, verb: question._id })")
	i(class="fa fa-{{ iconClass }}", ng-show="isAnswered(value)")